.topbar .icons {
  cursor: pointer;
}

.topbar {
  padding-left: 140px;
  padding-top: 20px;
  padding-right: 70px;
  padding-bottom: 20px;
  background-color: white;
}

.topbar .title {
  display: inline-block;
}

.topbar .title h1 {
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 35px;
  font-weight: bold;
  color: #cfcccc;
}

.topbar .signout {
  float: right;
}

.topbar .signout img {
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
}
