/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 90px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0b7ac0; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-radius: 0 20px 20px 0;
}

/* The navigation menu links */
.sidenav a {
  padding: 15px 0px 5px 20px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  margin-left: 5px;
  cursor: pointer;
}

.sidenav img{
  margin-bottom: 8px;
}

.sidenav .description{
  display: inline-block;
  margin-top: -10px;
  vertical-align: text-top;
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 23px;
}

.sidenav .description p{
  margin-top: 7px;
  margin-bottom: 0;
  opacity: 0;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  background-color: #67c4ff;
  border-radius: 5px 5px 5px 5px;
  margin-left: 5px;
}

.menu_chosed{
  background-color: white;
  margin-left: 5px;
  border-radius: 5px 5px 5px 5px;
}

.menu_chosed p{
  color: black;
}

.logo_user{
  border-radius: 100px;
}

.logouser{
  color: white;
}